{% extends 'layout/base.html' %}

{% block title %}
About Us
{% endblock title %}

{% block content %}
<section class="d-flex align-items-center"></section>
<section id="about" class="about">
  <div class="container-fluid">

    <div class="row">
      <div class="col-xl-5 col-lg-6 video-box d-flex justify-content-center align-items-stretch position-relative">
        <a href="https://i.ytimg.com/an_webp/S1nUMsPC1-0/mqdefault_6s.webp?du=3000&sqp=CKyX8LEG&rs=AOn4CLA-gRxLshOr9GMevDaeHDWZgZJs0w" class="glightbox play-btn mb-4"></a>
      </div>

      <div
        class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
        <h3>Pet Wellness Tracker</h3>
        <p>A pet wellness tracker is a device or application designed to monitor various aspects of a pet's health and
          well-being. Here are multiple points to consider about pet wellness trackers</p>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-fingerprint"></i></div>
          <h4 class="title"><a href="">Activity Monitoring:</a></h4>
          <p class="description">This can help you ensure they're getting enough exercise and detect any changes in
            their activity levels, which could indicate health issues.</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-alert"></i></div>
          <h4 class="title"><a href="">11. Emergency Assistance Module</a></h4>
          <p class="description">The Emergency Assistance Module provides users with quick access to emergency resources
            and contacts in case of pet-related emergencies. It includes information on nearby veterinary clinics,
            animal hospitals, pet emergency hotlines, and first aid instructions for common emergencies.</p>
        </div>

        <div class="icon-box">
          <div class="icon"><i class="bx bx-gps"></i></div>
          <h4 class="title"><a href=""> Localization and Internationalization </a></h4>
          <p class="description">It allows users to choose their preferred language, date/time formats, and measurement
            units for a personalized user experience. It ensures accessibility and inclusivity for users worldwide.</p>
        </div>
        <div class="icon-box">
          <div class="icon"><i class="bx bx-medical"></i></div>
          <h4 class="title"><a href=""> Medication Management </a></h4>
          <p class="description">It provides reminders for administering medications and tracks medication history for
            each pet.</p>
        </div>

      </div>
    </div>

  </div>
</section>
{% endblock content %}

{% block css %}
<style>

</style>

{% endblock css %}

{% block js %}
<script></script>

{% endblock js %}