{% extends 'layout/base.html' %}
{% load crispy_forms_tags %}
{% block title %}
Vet Profile
{% endblock title %}

{% block content %}
<section class="d-flex align-items-center"></section>
<section id="vet Profiles" class="vet Profiles">
    <div class="container">

        <!-- user profile -->
        <div class="row">
            <div class="col">
                Add New Veternary
            </div>
            <div class="col-md-6 mx-auto">
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{form|crispy}}
                    <div class="mb-3">
                        <button type="submit" class="btn btn-primary">Add Veternary</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}

{% block css %}
<style>

</style>

{% endblock css %}

{% block js %}
<script></script>
{% endblock js %}