{% extends 'layout/base.html' %}

{% block title %}
Departments
{% endblock title %}

{% block content %}
<section id="departments" class="departments">
  <div class="container">

    <div class="section-title">
      <h2>Departments</h2>
      <p>Pet wellness is about the mental, physical, and emotional care of a pet. Pet wellness exams are preventative
        and can include vaccinations, parasite prevention, and nutritional counseling. During a wellness exam, a
        veterinarian can also assess a pet's eyes, ears, teeth, gums, abdomen, skin health, and listen to their heart
        and lungs.
      </p>
    </div>

    <div class="row gy-4">
      <div class="col-lg-3">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" href="#tab-1">Cardiology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-2">Hepatology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-3">Neurology</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-4">Skin Care</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" href="#tab-5">Eye Care</a>
          </li>
        </ul>
      </div>
      <div class="col-lg-9">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Cardiology</h3>
                <p class="fst-italic">CardioPaws" provides owners with a home monitoring device, supplies and live
                  operator instructions.</p>
                <p>CardioPaws/PetCardiology has surpassed competitors by focusing on providing our clients with the best
                  that technology has to offer, and by refusing to surrender to the "big corporate" structure and
                  mentality that is so prevalent with today’s services.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/static/img/ppet cardio.jpeg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-2">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Hepatology</h3>
                <p class="fst-italic">The study of liver, gallbladder, biliary tree, and pancreas diseases, including
                  prevention, diagnosis, and management</p>
                <p>Disorders of the liver are common in dogs and cats. A wide range of clinical signs can be seen such
                  as jaundice, hepatic encephalopathy, gastrointestinal signs like decreased appetite, weight loss,
                  vomiting or diarrhoea, polyuria, polydipsia, ascites or coagulopathy.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/static/img/.jpeg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-3">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Neurology</h3>
                <p class="fst-italic">The treatment and study of conditions that affect the brain, spinal cord, nerves
                  and muscles</p>
                <p>Veterinary Neurology is the branch of medicine that treats diseases of the nervous system: the brain,
                  spinal cord, nerves, and muscles in pets. This encompasses such common problems as epilepsy, herniated
                  disks, spinal and head injuries, meningitis, and cancers of the nervous system</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/static/img/pet neuro.jpeg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-4">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>skin care</h3>
                <p class="fst-italic">Skin Care department that can perform allergy testing and create a treatment
                  plan for a pet's skin issues</p>
                <p>Skin care for pets is an important part of their overall health and wellbeing. The skin is the
                  largest organ of the body and is the first line of defense against bacteria and infection. A pet's
                  skin is also the first thing visitors to your home will notice. Therefore, it is important to provide
                  proper skin care for your pet.
                </p>
              </div>

              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/static/img/pet skin.jpeg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
          <div class="tab-pane" id="tab-5">
            <div class="row gy-4">
              <div class="col-lg-8 details order-2 order-lg-1">
                <h3>Eye care</h3>
                <p class="fst-italic">Avoid using irritating soaps or sprays near your pet's eyes</p>
                <p>A veterinarian is usually able to diagnose and treat most common eye conditions in pets.
                  some cases may require a referral to a veterinary ophthalmologist for further testing, treatment, or
                  surgery. A veterinary ophthalmologist is a veterinarian who specializes in treating eye disorders in
                  animals.</p>
              </div>
              <div class="col-lg-4 text-center order-1 order-lg-2">
                <img src="/static/img/pet eye.jpeg" alt="" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
{% endblock content %}
{% block css %}
<style>

</style>

{% endblock css %}

{% block js %}
<script></script>

{% endblock js %}