{% extends 'layout/base.html' %}

{% block title %}
Login as Customer
{% endblock title %}


{% block content %}
<section class="start">
    <div class="container">
        <div class="row">
            <div class="col-md-4 mx-auto">
                <div class="card border-0">
                    <div class="card-header bg-transparent">
                        <h4>Login as Customer</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="email" class="form-label">Email</label>
                                <input type="email" class="form-control" id="email" name="email" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block css %}
<style>

</style>
{% endblock %}

{% block js %}
<script></script>
{% endblock %}