<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
   <h1>Nidhi Sharma</h1> 
    MBBS, MS in Otolaryngology
    Speciality
    Family Physician, General Surgery, Nasal Endoscopic Surgery
    Professional bio
    A competent ENT Surgeon practising for the past 13 years and having a wide range of experience in treating patients
    with all kinds of ENT issues. Listens to and addresses all of the patients' concerns and clearly explains the course
    of treatment.
    Specialised treatment
    Nasal endoscopic sinus surgery, tympanoplasty surgery, skull base surgery, surgery for snoring and micro-ear surgery
    Academic qualification
    MBBS, Medical University, New Delhi
    MS ENT, Medical Institute, Mumbai
    DNB ENT, Medical College and Hospital, Ranchi
    Industry experience
    Senior consultant and head ENT, RSTS Hospital, New Delhi, January 2012–present
    Diagnose and treat ENT injuries in both adults and children
    Listen and address patients to earn their trust and make them feel safe and comfortable
    Prescribe medicines and proper treatment and perform surgery when necessary
    Senior registrar ENT, BCDD College and Hospital, Mumbai, June 2009–December 2011
    Managed department of the neck and ear surgery
    Overseeing ent cases and cochlear implant training and supervising and participating in the ent teaching curriculum
    for junior residents.
    Basic surgical training
    Attended international medical conferences in the US
    Worked with seniors and doctors in super speciality hospitals
    A voluntary organiser of the Indian medical conference
    Research scholar at EFG medical institute
    Conducted research on preoperative evaluation and surgical treatment of patients with deviated nasal septum
    Published journal articles and wrote grants
    Formulated research protocols
    Built a journal club
    Received additional research funding by discovering a surgery method
    Awards and publications
    Recognition Award
    Medical Award
    Best Journal of the Year
    Middle ear perforation and cause of infection, 2009
    Role of socioeconomic factors in deep ear infection: A prospective study of 200 patients, The Indian Journal, 2018
    Clinic address
    Delhi Road, New Delhi, India, 100000
    +9123123123

</body>

</html>