{% extends 'layout/base.html' %}

{% block title %}
Services
{% endblock title %}


{% block content %}

<section id="services" class="services">
  <div class="container">

    <div class="section-title">
      <h2>Services</h2>
      <p>An annual pet wellness plan covers preventative services like examinations, vaccinations, parasite
        prevention, blood tests, dental care, screenings, and nutritional counseling. Reviewing the plan details is
        crucial to understand coverage and limitations.</p>
    </div>

    <div class="row">
      <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-heartbeat"></i></div>
          <h4><a href="">Health Problems</a></h4>
          <p>An annual pet wellness plan covers preventative services like examinations, vaccinations, parasite
            prevention, blood tests, dental care, screenings, and nutritional counseling. Reviewing the plan details
            is crucial to understand coverage and limitations.</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-pills"></i></div>
          <h4><a href="">Nutritions & Diets</a></h4>
          <p>A balanced diet with the right ratio of protein, vitamins, minerals, and essential amino and fatty acids is
            important for your pet's health and well-being. High-quality pet food should include the following
            components:<br>
            Protein: For cellular growth and repair, such as chicken, beef, fish, eggs, or legumes<br>
            Carbohydrates: For sustained energy and fiber, such as whole grains
            Vegetables: For vitamins and minerals<br>
            Fats and oils: For energy, and to add luster to the skin and coat
          </p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4 mt-lg-0">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-hospital-user"></i></div>
          <h4><a href="">Pet's Profile</a></h4>
          <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-dna"></i></div>
          <h4><a href="">Pet's Health Monitoring</a></h4>
          <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-wheelchair"></i></div>
          <h4><a href="">Daily Routine</a></h4>
          <p>Quis consequatur saepe eligendi voluptatem consequatur dolor consequuntur</p>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch mt-4">
        <div class="icon-box">
          <div class="icon"><i class="fas fa-notes-medical"></i></div>
          <h4><a href="">Pet's Medicines</a></h4>
          <p>Modi nostrum vel laborum. Porro fugit error sit minus sapiente sit aspernatur</p>
        </div>
      </div>

    </div>

  </div>
</section>


{% endblock %}

{% block css %}
<style>

</style>
{% endblock %}

{% block js %}
<script></script>
{% endblock %}