{% extends 'layout/base.html' %}
{% load static %}
{% block title %}
Login as Vet
{% endblock title %}


{% block content %}
<section class="start">
    <div class="container">
        <div class="row">
            <div class="col">
                <img src="{% static 'img/vet login.jpeg' %}" alt=""
                    style="width: 100%; object-fit: cover; aspect-ratio: 3/1;">
            </div>
            <div class="col-md-4">
                <div class="card border-0">
                    <div class="card-header bg-transparent">
                        <h4>Login as Vetenary</h4>
                    </div>
                    <div class="card-body">
                        <form method="POST">
                            {% csrf_token %}
                            <div class="mb-3">
                                <label for="name" class="form-label">Email</label>
                                <input type="email" class="form-control" id="name" name="username" required>
                            </div>
                            <div class="mb-3">
                                <label for="password" class="form-label">Password</label>
                                <input type="password" class="form-control" id="password" name="password" required>
                            </div>
                            <button type="submit" class="btn btn-primary">Login</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block css %}
<style>

</style>
{% endblock %}

{% block js %}
<script></script>
{% endblock %}